<button id="toggle_crosshair" class="btn btn-block" data-bind="click: function() {crosshair_toggle()}, css: {active: crosshair_enabled}">Show Crosshairs</button>
<!-- <div id='crosshair-horz' data-bind='visible: crosshair_enabled'></div>
<div id='crosshair-vert' data-bind='visible: crosshair_enabled'></div> -->